@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");
.container-fluid {
  background-color: rgb(36, 36, 36);
  margin: 0%;
  padding: 0%;
  border: 1px solid blue;
  width: 100%;
  height: auto;
}

.dosColumnas {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  height: 90%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

div.izq.container.col-4 {
  background-color: #3f3f40;
  color: #f2f2f2;
  padding: 2rem 3.5rem 2rem 1rem;
}
div.izq.container.col-4 a.navbar-brand {
  padding: 0%;
  margin: auto;
  margin-top: 30px;
}
div.izq.container.col-4 a.navbar-brand img {
  border-radius: 50%;
  width: 100%;
  max-width: 180px;
}
div.izq.container.col-4 hr {
  border: 2px solid #f2f2f2;
  opacity: 0.9;
  text-align: start;
  margin: 2rem 0;
  width: 60%;
}
div.izq.container.col-4 .contact {
  padding-top: 1rem;
}
div.izq.container.col-4 .contact div.contIndividual {
  margin: 1px 0px;
  padding: 5px 5px 5px 0px;
  display: flex;
}
div.izq.container.col-4 .contact div.contIndividual h5 i {
  border-radius: 50%;
  margin: 3px 3px 3px 0px;
  padding: 3px;
  background-color: #f2f2f2;
  color: #3f3f40;
  height: 32px;
  width: 32px;
}
div.izq.container.col-4 .contact div.contIndividual h5 a {
  text-decoration: none;
  font-size: large;
  color: #f2f2f2;
}
div.izq.container.col-4 section.idiomas p {
  margin: 16px auto 2px 0px;
}
div.izq.container.col-4 section.skills p {
  margin: 16px auto 2px 0px;
}
div.izq.container.col-4 div.progBar div.progress {
  height: 7px;
  border-radius: 2px;
  background-color: rgb(255, 255, 255);
}
div.izq.container.col-4 div.progBar div.progress div.progress-bar {
  background-color: rgb(128, 128, 128);
}

div.der.container.col-8 {
  background-color: #f2f2f2;
  padding-left: 0px;
  padding-right: 0px;
}
div.der.container.col-8 header {
  padding: 2.25rem;
  margin: 0%;
  margin-top: 20px;
  background-color: #3f3f40;
  color: #f2f2f2;
}
div.der.container.col-8 header h1 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.1em;
  font-size: 3.5rem;
  font-weight: 600;
  margin-top: 1rem;
  padding-top: 1rem;
}
div.der.container.col-8 header h5 {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  margin-bottom: 1rem;
}
div.der.container.col-8 #experienciaLaboral {
  padding: 0.25rem 1rem;
}
div.der.container.col-8 #experienciaLaboral h3 {
  margin: 30px 0px 10px 15px;
  letter-spacing: 0.1em;
  padding: 0.25rem;
}
div.der.container.col-8 .accordion-item {
  border: 1px solid rgb(17, 41, 25);
}
div.der.container.col-8 .accordion-button {
  background-color: rgb(185, 185, 185);
  color: rgb(23, 110, 30);
  font-size: large;
  font-weight: 500;
}
div.der.container.col-8 .accordion-button:focus {
  background-color: rgb(78, 16, 0);
  border-color: #1c1b1d;
  color: rgb(184, 181, 181);
}
div.der.container.col-8 .accordion-button:active {
  background-color: rgb(85, 100, 83);
  color: rgb(141, 139, 1);
}
div.der.container.col-8 button.accordion-button::after {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FF06EF'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
div.der.container.col-8 .accordion-body {
  background-color: #f2f2f2;
}/*# sourceMappingURL=style.css.map */