@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Raleway:ital,wght@0,300;0,400;0,500;0,700;1,400;1,500&display=swap");

//*? variables colores hacer PALETA DE COLORES ******* GRADIENTES  */

//* a modo de ejemplo así era que establecía variables de color*/ color: $indigo;
$oscuro: #2c2c2c;
$oscuroB: #969696;
$claroB: #dcdcdc;
$claro: #f2f2f2;
// ux BÁSICO 1x medida de separación entre items del mismo grupo, 2x para otro grupo,

.container-fluid {
  background-color: $oscuro;
  margin: 0%;
  padding: 0%;
  // border: 1px solid blue;
  width: 100%;
  height: auto;
}
.dosColumnas {
  background-color: $claro;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  // border: 1px solid rgb(248, 2, 15);
  height: 90%;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  //font-family: "Bebas Neue", cursive;
}

div.izq.container.col-4 {
  // border: 1px dotted rgb(229, 255, 0);
  background-color: $oscuro;
  color: $claro;
  padding: 2rem 5rem 2rem 3.5rem;

  a.navbar-brand {
    padding: 0%;
    margin: auto;
    margin-top: 30px;

    img {
      border-radius: 50%;
      width: 100%;
      max-width: 180px;
      min-width: 100px;
      transition-duration: 1.2s;
    }
    img:hover {
      transform: scale(1.15);
    }
  }

  hr {
    border: 2px solid $claro;
    opacity: 0.9;
    text-align: start;
    margin: 2rem 0;
    width: 60%;
  }

  .contact {
    // border: 1px solid rgb(3, 180, 62);
    padding-top: 1rem;
    div.contIndividual {
      // border: 1px solid rgb(247, 0, 0);
      margin: 1px 0px;
      padding: 5px 5px 5px 0px;
      display: flex;

      h5 {
        i {
          // border: 1px solid rgb(25, 0, 247);
          border-radius: 50%;
          margin: 3px 3px 3px 0px;
          padding: 3px;
          background-color: $claro;
          color: $oscuro;
          height: 32px;
          width: 32px;
          transition: 2s;
        }

        a {
          text-decoration: none;
          font-size: large;
          color: $claro;
          // border: 1px solid rgb(209, 0, 199);
        }
      }
      h5:hover {
        //? de esta manera seleccionando el padre modifico con hover a los dos objetos con valores distintos
        // no toma la escala de manera individual los colores si
        transform: scale(1.01);
        i {
          color: black;
          background: #ff7200;
          background: linear-gradient(90deg, #ff7200 0%, #e0c801 80%);
          background: -webkit-linear-gradient(90deg, #ff7200 0%, #e0c801 80%);
          background: -moz-linear-gradient(90deg, #ff7200 0%, #e0c801 80%);
          //text-shadow: 0px 0px 2px rgb(0, 0, 0);
        }
        a:hover {
          color: $claro;
          text-shadow: 0px 0px 7px $claro;
        }
      }
    }
  }
  // section.about {
  //   // border: 1px solid rgb(3, 15, 180);
  // }

  //? /////////////////////////////////
  ////?    progress bar  (TODAS)  /////
  //? /////////////////////////////////
  section.idiomas {
    //  border: 1px solid red;
    p {
      // border: 1px solid rgb(25, 0, 247);
      margin: 16px auto 2px 0px;
    }
  }
  section.skills {
    // border: 1px solid rgb(209, 0, 199);
    p {
      // border: 1px solid rgb(25, 0, 247);
      margin: 16px auto 2px 0px;
    }
  }
  div.progBar {
    // ÁREA de la barra
    // border: 1px solid greenyellow;
    div.progress {
      height: 7px;
      // borde barra
      // border: 3px solid rgb(255, 3, 213);
      border-radius: 2px;
      background-color: rgb(255, 255, 255); //sirve
      div.progress-bar {
        background-color: rgb(128, 128, 128); //! color barra
        //height: 3px;
      }
    }
  }
}

div.der.container.col-8 {
  // border: 1px solid rgb(3, 180, 62);
  background-color: $claro;
  padding-left: 0px; //sin padding por el encabezado para abajo todo con padding
  padding-right: 0px;

  header {
    //border: 1px solid rgb(0, 81, 255);
    padding: 2.25rem;
    margin: 0%;
    margin-right: 2rem;
    margin-top: 20px;
    background-color: $oscuro;
    color: $claro;
    display: inline-flex;
    justify-content: space-between;
    width: 99%;
    .nombre {
      margin-right: 2em;
      //border: 1px solid yellow;
      h1 {
        font-family: "Bebas Neue", cursive;
        letter-spacing: 0.15em;
        font-size: 3.5rem;
        font-weight: 600;
        margin-top: 1rem;
        padding-top: 1rem;
      }
      h5 {
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        margin-bottom: 1rem;
      }
    }
    .btns {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 10px;

      //? //////////////////////////////////////////////////////////
      //? -------------  dropdown btn ----------------------------//
      //? //////////////////////////////////////////////////////////
      .dropbtn {
        border-radius: 50%;
        border: none;
        margin: 3px 3px 3px 0px;
        padding: 3px;
        background-color: $claro;
        color: $oscuro;
        height: 32px;
        width: 32px;
        transition: 1.5s;
        cursor: pointer;
      }
      .dropdown:hover .dropbtn {
        transform: scale(1.01);
        transform: rotate(-45deg);

        color: black;
        background: #ff7200;
        background: linear-gradient(90deg, #ff7200 0%, #e0c801 80%);
        background: -webkit-linear-gradient(90deg, #ff7200 0%, #e0c801 80%);
        background: -moz-linear-gradient(90deg, #ff7200 0%, #e0c801 80%);
        //text-shadow: 0px 0px 2px rgb(0, 0, 0);
      }
      .dropdown {
        position: relative;
        display: inline-block;
      }

      .dropdown-content {
        display: none; //! menu mostrar no mostrar display none
        position: absolute;
        right: 0;
        background-color: $oscuro;
        min-width: auto;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }

      .dropdown-content i {
        // color: $claro;
        padding: 10px 10px;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 2px;
        font-size: x-large;
        height: 32px;
        width: 32px;
        border: 1px solid #ffffff;
        border-radius: 50%;
        cursor: pointer;
      }
      #n1 {
        background-color: #ffffff;
        color: #09402c; //accesibilidad AAA
      }
      #n2 {
        background-color: #ffffff;
        color: #590212; //accesibilidad AAA
      }
      #n3 {
        background-color: #ffffff;
        color: #10365a; //accesibilidad AAA
      }
      #n4 {
        background-color: #ffffff;
        color: #ffd085; //accesibilidad AAA
      }
      #n5 {
        background-color: #ffffff;
        color: #2c2c2c; //accesibilidad AAA
      }

      .dropdown-content i:hover {
        transform: scale(1.2);
      }

      .dropdown:hover .dropdown-content {
        display: block;
      }
    }
  }

  //? /////////////////////////////////
  ////? componentes del acordeón  /////
  //? /////////////////////////////////

  //? título /////////////

  #experienciaLaboral,
  #educación,
  #certificados {
    padding: 0.25rem 1rem;
    // border: 1px dashed rgb(163, 73, 253);

    h3 {
      margin: 30px 0px 15px 15px;
      letter-spacing: 0.1em;
      padding: 0.25rem;
    }
  }

  /////////////////////////////////////
  ////? cuerpo del accordion  /////
  /////////////////////////////////////
  // .accordion-item {
  //  // border: 1px solid rgb(98, 245, 147);  // --- borde todo el acordeón
  // }
  .accordion-button {
    // botón título encabezado INACTIVO.
    background-color: $claro; //funciona
    color: $oscuro; //letra por defecto
    font-size: large;
    font-weight: 500;
  }

  .accordion-button:focus {
    background-color: $claroB;
    border-color: #1c1b1d;
    color: $oscuro; //fuente cuando esta en focus
    //! Sombra cuando esta activo
    box-shadow: 0px 0px 10px 0.25rem $oscuroB; //* funciona
  }

  .accordion-button:active {
    //?lo toma pero solo en click ------ solo funciona debajo de focus!! //
    background-color: $oscuro;
    color: $claro;
    //https://uniwebsidad.com/libros/bootstrap-3/capitulo-1/personalizando-bootstrap
  }

  button.accordion-button::after {
    //? FLECHA cuando esta en focus puedo cambiar el color en la url en fill='%23 fff' %23 reemplaza al # lo demás es el color!!!!!!!!
    //background-color: #6e6e6e;
    //border-radius: 50%;
    //background-image: none; //?borra la flecha
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233f3f40'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }

  .accordion-body {
    background-color: $claro;
    //border: 1px solid rgb(180, 3, 127); //afecta pero innecesario

    box-shadow: 0px 0px 10px 0px rgba(163, 163, 163, 0.3) inset;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(163, 163, 163, 0.3) inset;
    -moz-box-shadow: 0px 0px 10px 0px rgba(163, 163, 163, 0.3) inset;

    a {
      text-decoration: solid, #2c2c2c;
      color: $oscuro;
    }
    a:hover {
      //color: rgb(167, 0, 0);
      text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.75);
    }
  }
  /////////////////////////////////////
  ////? componentes del acordeón FIN //
  /////////////////////////////////////
}

/* The switch - the box around the slider */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 3.5em;
  height: 2em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0, 0, 0);
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 1.4em;
  width: 1.4em;
  border-radius: 20px;
  left: 0.3em;
  bottom: 0.3em;
  background-color: rgb(219, 198, 2);
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #000000;
}

input:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

input:checked + .slider:before {
  transform: translateX(1.5em);
}

.slider::after {
  width: 20px;
  height: 20px;
  left: 20%;
  top: 10%;
  border-radius: 50%;
  position: absolute;
  content: "";
  background-color: rgb(0, 0, 0);
  transition: ease 0.4s;
}

input:checked + .slider::after {
  left: 80%;
  width: 0px;
  height: 0px;
}

//* ///////////////////////////////////
//?           Responsive           ////
//* ///////////////////////////////////

@media only screen and (max-width: 476px) {
  .dosColumnas {
    display: flex;
    flex-direction: column;
    padding-right: 0%;
    padding-left: 0%;
    background-color: rgb(48, 48, 48);
  }

  #colorOscuro {
    //? columna izquierda
    margin: 0.5rem;
    // border: 1px solid red;
    padding: 0.5rem;
    min-width: 92.5%;
  }

  #colorClaro {
    //? columna derecha
    margin: 0.25rem;
    // border: 1px solid red;
    padding: 0.25rem;
    min-width: 92.5%;
  }
  #colorHeader {
    //? header ---
    margin: 0rem;
    // border: 1px solid red;
    padding: 0.1rem;
    min-width: 92.5%;
    div.nombre {
      // border: 1px solid rgb(21, 255, 0);
      margin: 0%;
      h1 {
        margin: auto;
        padding: 0.25rem;
        font-size: xx-large;
      }
      h5 {
        margin: auto;
        padding: 0.25rem;
        font-size: large;
      }
    }
    div.btns {
      //! en celular quité los botones de cambio de color y modo dark
      display: none;
    }
  }
  div.der.container.col-8 #experienciaLaboral,
  div.der.container.col-8 #educación,
  div.der.container.col-8 #certificados {  //! para poder hacer estos cambios copié el selector desde google f12
    padding: 2px;
    // border: 1px solid rgb(255, 0, 234);
  }
  div.accordion-body {
    padding: 0.5px;
    padding-top: 1rem;
    padding-left: 0%;
    //  border: 1px solid rgb(4, 0, 255);
  }

  div.progBar{
    display: none;
  }


}
